@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  max-width: 100%;
  padding: 20px;
  padding-top: 0px;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(to right, #31669b 50%, #254d75 50%);
  color: #fff;
}

h1 {
  font-size: 50px;
}
